{% extends 'layout.html' %}
{% block content %}
{% include '/users/settings.html' %}
<style>
    .profile-img-container {
        position: relative;
        display: inline-block;
        border-radius: 50px;

    }

    .upload-overlay {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 50%;
        height: 50%;
        display: none;
        background-color: rgb(244, 246, 247, 0.7);
        color: #fff;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
    }

    .profile-img-container:hover .upload-overlay {
        display: flex;
    }

    .upload-label {
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }
</style>

<div class="col">
    <h6>Account Settings</h6>

    <div class="white-container">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="media row">
                    <div class="col-md-2">
                        <div class="profile-img-container">
                            <img class="rounded-circle account-img" src="{{ image_file }}">
                            <div class="upload-overlay">
                                <label for="profile-picture" class="upload-label">
                                    <i style="font-size: 2rem;" class="fas fa-camera"></i></label>
                                {{ form.picture(class="form-control-file", id="profile-picture") }}
                            </div>
                        </div>
                        <div class="mt-2">
                            {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="media-body col-md-10">
                        <h2 class="account-heading">{{ current_user.username }}</h2>
                        <p class="text-secondary">{{ current_user.email}} </p>
                    </div>
                </div>
                <legend class="border-bottom mb4">Update Profile</legend>
                <div class="form-group row">
                    <div class="col">
                        {{ form.username.label(class="form-control-label")}}
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-md")}}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.email.label(class="form-control-label")}}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-md")}}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group mt-2">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
</div>
</div>

</div>
{% endblock %}